<div class="tarea-list-container">
    <h1>Lista de Tareas de {{nombreUsuario}}</h1>
  
    <table class="tarea-table">
        <thead>
            <tr>
                <!--  <th>ID</th>-->
               
                <th>Nombre</th>
                <th>Fecha Vencimiento</th>
                <th>Prioridad</th>
                <th>Nombre de Proyecto</th>
                <th>Estado</th>
                <th>Usuario Propietario</th>
                <th>Comentarios</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let t of tareasLista">
                <!--   <td>{{ t.id }}</td>  -->
               
                <td>{{ t.nombre }}</td>
                <td>{{ t.fechaVencimiento | date: 'yyyy-MM-dd' }}</td> <!-- Cambiado a solo mostrar la fecha -->
                <td>{{ t.prioridad }}</td>
                <td>{{ t.proyectoNombre }}</td>
                <td>{{ t.estado }}</td>
                <td>{{ t.usuarios }}</td>
                <td>
                    <ul *ngFor="let c of t.comentarios">
                        <li>
                            {{c.contenido}}
                        </li>
                        <li>
                            {{c.fecha | date: 'yyyy-MM-dd'}}
                        </li>
                    </ul>
                </td>
                <td>
                    <button class="btn-editar" (click)="actualizarTarea(t)">Editar Tareas</button>
                   <!--  <button class="btn-eliminar" (click)="eliminarTarea(t)">Eliminar</button>  --> 
                    <button class="btn-eliminar" (click)="agregarComentario(t)">Agregar Comentario</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

